[run]
branch = True
source = pconway

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    pconway/clitools/*
    pconway/logger.py
    pconway/render/*
